//fonts
@font-face {
    font-family: "playfair";
    src: url(../font/PlayfairDisplay-VariableFont_wght.ttf);
}

//estilo 
* {
    font-family: "playfair";
}

.bgBeige {
    background-color: $beige-color;
}

.bgMarron {
    background-color: $marron-color;
}

.bgRosa {
    background-color: $rosa-color;
}

.bgHueso {
    background-color: $hueso-color;
}

.bgGris {
    background-color: $gris-color;
}

//header 
.logoHeader {
    max-width: 180px;
}

.icono {
    max-width: 30px;
}

.nav-link {
    --bs-navbar-hover-color: #ff2f;

    :after {
        border-bottom: 2px $rosa-color;
        transition: border-bottom 2s 0.3s;

        &:hover::after {
            width: 100%;
        }
    }
}

#bgVelaMadera {
    background: url(../img/productos/velas_madera_fondo.png) no-repeat center center fixed;
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;

    .textoFondoMadera {
        padding: 10rem 0;
        color: $beige-color;
    }
}

a{
    color: $negro-color;
    text-decoration: none;
    :hover
    {
        color: $marron-color;
    }
}

.btn-light{
    background-color: $hueso-color;
    border: $negro-color;
    :hover{
        color: $negro-color;
    }
}



//productos
#bgVelaVidrio {
    background: url(../img/productos/velas_carameleras_rosas.jpg) no-repeat center center fixed;
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;

    .textoFondoVidrio {
        color: $beige-color;
        padding: 12rem 0;
    }
}

.itemCatalogo {
    @include flex-col-center-cen;
    padding: 1.5rem;
    row-gap: 1rem;
    cursor: pointer;
    transition: transform 1s ease-in-out;

    :hover {
        transform: scale(1.2);
    }
}

.navProductos {
    position: sticky;
    top: 8rem;
    flex-wrap: wrap;
}

// faqs
.accordion-body,
.accordion_button {
    background-color: $gris-color;
    padding: 2rem;
}
.accordion{
    :focus{
        box-shadow: none;
        color: $negro-color;
        background-color: $hueso-color;
    }
}

//contacto
.form-floating{
    :focus{
        box-shadow: none;
        border: none;
    }
}

