

//variables
$beige-color:#E7D7C9;
$rosa-color:#D4B2A7;
$marron-color:#A38F85;
$gris-color:#CDC6C3;
$hueso-color:#EDE9E3;
$negro-color:#212529;


//mixins
@mixin flex-col-center-cen{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
